.grid-container {
    display: grid;
    grid-template-columns: auto auto ;
    background-color: white;
    
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(26, 13, 212, 0.8);
   
    font-size: 20px;
    text-align: center;
  }